a{text-decoration:none;color:black;}
a:hover{text-decoration:underline;}
#logo{width:500px;margin-left:auto;margin-right:auto;height:300px;margin-top:250px;}
#logo img{width:500px;height:300px;}
#header{position:absolute;margin-top:-250px;margin-left:1500px;margin-right:auto;width:400px;height:30px;}
#header ul{list-style-type:none;}
#header ul li{float:left;padding:5px;text-align:center;}
#header ul li img{width:30px;height:30px;}
#input{width:600px;height:300px;margin-left:auto;margin-right:auto;margin-top:-10px;}
#input input{width:600px;margin-left:auto;margin-right:auto;height:50px;margin-top:2px;}
#buttons{margin-top:-150px;}
#search{margin-left:700px;width:200px;height:50px;background-color:#d9d9d9;text-align:center;display:inline-block;color:#666666;padding-top:auto;padding-bottom:auto;}
#lucky{margin-left:150px;width:200px;height:50px;background-color:#d9d9d9;text-align:center;display:inline-block;color:#666666;padding-top:auto;padding-bottom:auto;}
#footer{margin-left:auto;margin-right:auto;margin-top:200px;}
#footer table{margin-left:auto;margin-right:auto;background-color:#d9d9d9;}
#empty{padding-left:700px;padding-right:700px;}
#ad{padding-right:5px;}
#bu{padding-left:5px;padding-right:5px;}
#ab{padding-left:5px;padding-right:5px;}
#co{padding-left:5px;padding-right:5px;}
#te{padding-left:5px;padding-right:5px;}
#se{padding-left:5px;}
